<div class="col-12 col-md-6 d-flex{% if not is_last %} mb-4 mb-md-0{% endif %} svg-icon icon-before-2xs icon-before-info icon-{{ icon|esc_attr }}">
    <h3 class="mr-2 h5 mb-0">{{ title|raw }}</h3>: <span class="h5 mb-0">{{ item|raw }}</span>
</div>
