{% set count = items|length %}
<div class="my-2 row">
    {% for item in items %}
        <div class="col-{% if loop.last and count % 2 == 1 %}12{% else %}6{% endif %}">
            <a rel="nofollow" href="{{ item.permalink|esc_attr }}"
               class="btn btn-sm btn-gray-500 w-100">{{ item.title|raw }}</a>
        </div>
    {% endfor %}
</div>
