{% if carousels %}
    {% set carousel_config = carousel_config|merge({rtl: true}) %}
    <div class="position-relative {{ container_class|raw }}">
        {% block before_slides %}{% endblock %}
        <div{% if carousel_config is defined %} data-carousel="{{ carousel_config|json_encode }}"{% endif %}
                class="carousel position-relative {{ carousel_class }}">
            {% for key, carousel in carousels %}
                {% block carousel %}{% endblock %}
            {% endfor %}
        </div>

        {% if carousel_config.arrows is not defined
            or carousel_config.arrows %}
            {% block carousel_arrow %}
                {% include get_template('arrows', _self) with {
                    btn_class: arrow_class,
                    class: arrows_class,
                    icon: arrow_icon,
                } %}
            {% endblock %}
        {% endif %}
    </div>
{% endif %}
