<div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-6">
        {% if message is not empty %}
            {{ render_frontend_alert({
                content: message,
                type: 'success',
                classes: 'justify-content'
            }) }}
        {% endif %}
        {% if items is defined
            and items is not empty %}
            <ul class="details list-group list-group-flush mb-4">
                {% for key, item in items %}
                    <li class="list-group-item px-0 py-2 d-flex justify-content-between">
                        <span class="detail-title">{{ item.title|raw }}</span>
                        <strong class="detail-value" data-key="{{ key|raw }}">{{ item.value|raw }}</strong>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>

