{% if items is not empty %}
    <ul class="list-group list-group-flush">
        {% for item in items %}
            <li class="list-group-item px-0 py-2 d-flex justify-content-between">
                <span>{{ item.title|raw }}</span>
                <strong>{{ item.value|raw }}</strong>
            </li>
        {% endfor %}
    </ul>
{% endif %}
