{% include get_template('./title_and_description', _self) %}

<div class="row mt-5">
    {% for step in steps %}
        <article class="col-12 col-md-4">
            {% embed get_template('card', _self) %}
                {% block content %}
                    {{ render_if_has_content('h3', {class: 'mb-2 h4 text-center'}, step.title) }}
                    {{ wp_get_attachment_image(step.image, [386, 386], {class: 'w-100 d-block mx-auto'})|raw }}
                {% endblock %}
            {% endembed %}
        </article>
    {% endfor %}
</div>
