{% include get_template('./title_and_description', _self) %}
<div class="row">
    {{ _self.article(right_image, right_title) }}
    {{ _self.article(left_image, left_title) }}
</div>

{% macro article(image, title) %}
    <article class="col-12 col-md-6 mb-5 mb-md-0">
        {{ render_if_has_content('h3', {class: 'h5 mb-5 text-center'}, title) }}
        {{ wp_get_attachment_image(image, [595, 231], {class: 'w-100 d-block mx-auto'})|raw }}
    </article>
{% endmacro %}

