{% include get_template('./title_and_description', _self) %}
{% embed get_cover_template('common/carousel/six_column') with {
    carousels: items,
    container_class: 'mt-5',
    arrows: 0
} %}
    {% block carousel %}
        <div class="carousel-item">
            {{ wp_get_attachment_image(carousel.image, [140, 140], {class: 'd-block mx-auto mb-3'})|raw }}
            <div class="text-center">{{ carousel.title|raw }}</div>
        </div>
    {% endblock %}
{% endembed %}
