<a id="back-to-top" href="#top" rel="nofollow"
   class="btn btn-sm shadow btn-gray-200 scroll-to position-fixed bottom-0 left-0 m-3 m-md-5 d-none p-1">
    {{ get_icon(icon, {class: 'icon-lg icon-primary'})|raw }}
</a>

