{% extends get_template('container', _self) %}

{% block before_container %}
<main>
    {% include get_template('./common/jumbotron', _self) %}
{% endblock %}

{% block container %}
    {{ add_location(_self, 'section') }}
    {% include get_template('./common/loop', _self, _current_template_name) with {
        column: 3
    } %}
    {{ add_location(_self, 'section') }}
{% endblock %}

{% block after_container %}
</main>
{% endblock %}

