{% extends get_template('base', _self) %}

{% block body %}
    {% block before_main %}{% endblock %}
    <main>
        {% if jumbotron is defined and jumbotron is not empty %}
            <h1 class="sr-only">{{ jumbotron|raw }}</h1>
        {% endif %}
        {% block main %}{% endblock %}
    </main>
    {% block after_main %}{% endblock %}
{% endblock %}
