<div class="col-12 col-md-6 d-flex{% if not is_last %} mb-4 mb-md-0{% endif %}">
    {% if icon is defined and icon is not empty %}
        {{ render_icon('fasm/6/set/' ~ icon, {class: 'icon-lg mr-2 icon-info'}) }}
    {% endif %}
    <h3 class="mr-2 h5 mb-0">{{ title|raw }}</h3>: <span class="h5 mb-0">{{ item|raw }}</span>
</div>

