{% extends get_template('../../container', _self) %}

{% block container %}
    <h1 class="h3">{{ the_title()|raw }}</h1>
    {{ do_action('render_sitemap_html') }}
    {{ add_location(_self) }}
{% endblock %}
