{% if column is not defined or not is_number(column) or column < 1 %}
    {% set column = 3 %}
{% endif %}
{% set columns = "col-12 col-md-6 col-lg-" ~ (12 / column) %}
<div class="{{ prepare_columns(loop, {'': 12, 'md': 6, 'lg': (12 / column)}, 5) }} d-flex">
    {% block grid_content %}{% endblock %}
</div>
