{% extends get_cover_template('main') %}

{% block main %}

    {% set sections = {
        opt_introduce: {},
        opt_speed: {},
        opt_why_us: {},
        opt_specification: {},
        opt_test_yourself: {},
        opt_solution: {},
        opt_success_story: {},
        opt_our_test: {},
        opt_peace_of_mind: {},
        opt_requirement: {},
        opt_how_start: {}
    } %}

    {% set rendered = 0 %}
    {% set promotions = get_cover_option('opt_promotion', {}) %}

    {% for section, config in sections %}

        {% set options = get_cover_option(section, {}) %}
        {% set promotion = promotions[loop.index] %}

        {% if promotion is not empty
            and promotion.position < 0 %}

            {% include get_template('./promotion/' ~ promotion.template, _self) with promotion %}

        {% endif %}

        {% if options is not empty %}

            <section class="py-8{% if rendered % 2 == 0 %} bg-white{% else %} opt-page-gradient{% endif %}"
                     id="section_{{ section|esc_attr }}">
                <div class="container">
                    {% include get_template('./opt/section_' ~ loop.index, _self) with options %}
                </div>
            </section>
            {% set rendered = rendered + 1 %}

        {% endif %}

        {% if promotion is not empty
            and promotion.position > 0 %}

            {% include get_template('./promotion/' ~ promotion.template, _self) with promotion %}

        {% endif %}

    {% endfor %}

{% endblock %}

