{% extends get_cover_template('main') %}

{% block main %}

    {% set sections = {
    } %}

    {% set rendered = 0 %}
    {% set promotions = get_cover_option('opt_promotion', {}) %}

    {% for section, config in sections %}

        {% set options = get_cover_option(section, {}) %}
        {% set promotion = promotions[loop.index] %}

        {% if options is not empty %}

            <section class="opt-section {% if options.bg_color is not empty %}bg-{{ options.bg_color|esc_attr }}{% endif %}{% if loop.index > 1 %} py-8{% endif %}"
                     id="section_{{ section|esc_attr }}">
                {% if options.has_container %}
                <div class="container">
                    {% endif %}
                    {% include get_template('./professional-wordpress/section_' ~ loop.index, _self) with options %}
                    {% if options.has_container %}
                </div>
                {% endif %}
            </section>
            {% set rendered = rendered + 1 %}

        {% endif %}

    {% endfor %}

{% endblock %}

