<div class="position-fixed w-100 p-2 bottom-0 z-index-3">
    <a class="btn btn-outline-primary py-2 font-18 btn-block bg-gray-100"
       href="{{ ''|noneamp|esc_attr }}" aria-label="{{ none_amp|esc_attr }}">{{ none_amp|raw }}</a>
</div>

