<form class="d-flex justify-content-start my-5" method="get">
    {% for category in categories %}
        <button type="submit" id="{{ category.slug|esc_attr }}"
                class="category-filter ml-3 btn btn-sm btn{{ category.slug == selected|default('') ? '' : '-outline' }}-secondary">{{ category.name|esc_html }}</button>
    {% endfor %}
    <input type="hidden" name="{{ input_name|default('category') }}"/>
</form>

