{% if extras is not empty %}
    <div class="row gutter-2">
        {% for extra in extras %}
            <div class="{{ prepare_columns(loop, {'': 12, md: 6, lg: 3}, 5) }} d-flex">
                {% include get_template('./extra', _self) with {extra: extra} %}
            </div>
        {% endfor %}
    </div>
{% endif %}

