{% if plans is not empty %}
    <div class="row gutter-2">
        {% for plan in plans %}
            <div class="{{ prepare_columns(loop, {'': 12, 'md': 6, 'lg': 3}, 5) }} d-flex">
                {% include get_template('./plan', _self) with {plan: plan} %}
            </div>
        {% endfor %}
    </div>
{% endif %}

