<div class="row gutter-2 justify-content-center selectables">
    {% for name, order_type in order_types %}
        <div class="{{ prepare_columns(loop, {'': 12, 'sm': 6, 'md': 4, 'lg': 3}, 5) }}">
            <article class="order-type selectable" data-name="{{ name|esc_attr }}">
                <div class="card border-1 border-gray-500">
                    <div class="card-header bg-gray-200 text-gray-700">
                        {{ render_if_has_content('h2', {class: 'text-center h5 m-0'}, order_type.title) }}
                    </div>
                    <div class="card-body">
                        {{ render_icon(order_type.icon, {class: 'icon-5x mx-auto icon-gray'}) }}
                    </div>
                </div>
            </article>
        </div>
    {% endfor %}
</div>
