{% set value = item.value %}

{% if value is not empty %}
    {% set class = "font-" ~ sizes[font_size] %}
    <div class="{{ item_holder_class|default(class) }}">
        {% if value is iterable %}
            {% for val in value %}
                {% include get_template('value', _self) %}
                {% if not loop.last %}
                    <span class="mx-2 my-auto d-none d-sm-block">|</span>
                {% endif %}
            {% endfor %}
        {% else %}
            {% include get_template('value', _self) %}
        {% endif %}
    </div>
{% endif %}

